@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-[#050505] text-white selection:bg-white selection:text-black antialiased;
  }
}

/* Custom utilities for smooth scrolling */
html {
  scroll-behavior: smooth;
}
